<footer class="footer">
    <div class="row-fluid">
        <div class="span">
            <p>
                <a class="footer-item-content" href="http://twitter.com/Bootply" rel="nofollow" title="Bootply on Twitter" target="ext">Twitter</a><br>
                <a class="footer-item-content" href="https://plus.google.com/+Bootply" rel="publisher">Google+</a><br>
                <a class="footer-item-content" href="http://facebook.com/Bootply" rel="nofollow" title="Bootply on Facebook" target="ext">Facebook</a><br>
                <a class="footer-item-content" href="https://github.com/iatek/bootply" title="Bootply on GitHub" target="ext">GitHub</a><br>
                <a class="footer-item-content" href="http://in1.com" title="Bootply on in1.com" target="ext">In1</a>
            </p>
        </div>
        <div class="span">
            <p>
                <a class="footer-item-content" data-toggle="modal" role="button" href="#contactModal">Contact</a><br>
                <a class="footer-item-content" href="/tags">Tags</a><br>
                <a class="footer-item-content" href="/bootstrap-community">Community</a><br>
                <a class="footer-item-content" href="/upgrade">Upgrade</a><br>
                <a class="footer-item-content" href="/templates">Templates</a><br>
            </p>
        </div>
        <div class="span">
            <p>
                <a class="footer-item-content" href="http://bootstrap.theme.cards" target="_ext" rel="nofollow" title="Free Bootstrap themes">Bootstrap Themes</a><br>
                <a class="footer-item-content" href="http://www.bootbundle.com" target="ext" rel="nofollow">BootBundle</a><br>
                <a class="footer-item-content" href="http://www.bootstrapzero.com" target="_ext" rel="nofollow" title="Free Bootstrap themes">BootstrapZero</a><br>
                <a class="footer-item-content" href="http://www.html5zero.com" title="Free responsive templates" target="_ext">Responsive Templates</a><br>
                <a class="footer-item-content" href="http://www.codeply.com" rel="nofollow" title="Responsive design editor" target="_ext">Codeply</a><br>
            </p>
        </div>
        <div class="span">
            <p>
                <a class="footer-item-content" href="/about#privacy">Privacy</a><br>
                <a class="footer-item-content" href="/about#terms">Terms</a><br><br>
                <br>
                <span class="pull-right">Copyright 2013-2017 <a href="/" title="The Bootstrap Playground">Bootply™</a></span>
            </p>
        </div>
    </div>
</footer>
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/general_component/main_panel.js"></script>