<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/general_component/main_panel.css"/>
    <link rel="stylesheet" type="text/css" href="/css/general_component/footer.css"/>
</head>