<div class="main_panel">
    <div class="nav-burder-container">
        <div class="nav-container">
            <div class="toggle-icon">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
        <div class="nav-main-menu-container">
            <ul class="nav-main-menu">
                <li class="nav-main-menu-item">1</li>
                <li class="nav-main-menu-item">2</li>
                <li class="nav-main-menu-item">3</li>
                <li class="nav-main-menu-item">4</li>
            </ul>
        </div>
    </div>
    <div class="nav-content-container close">
        <ul class="nav-menu">
            <li class="nav-menu-item">1</li>
            <li class="nav-menu-item">2</li>
            <li class="nav-menu-item">3</li>
            <li class="nav-menu-item">4</li>
        </ul>
    </div>
</div>