<html>
{% include('%kernel.root_dir%/../general_components/head.twig') %}
<link rel="stylesheet" type="text/css" href="/css/main_page/main_page_banner.css"/>
<body>
{% include('%kernel.root_dir%/../general_components/main_panel.twig') %}
{% include('%kernel.root_dir%/../main_page/main_page_banner.twig') %}
<script>
    var mainBannerBagroundImage = '/dynamic/img/main_banner.jpg';
</script>
{% include('%kernel.root_dir%/../general_components/footer.twig') %}
<script src="/js/main_page/main_page_banner.js"></script>
</body>
</html>